@font-face {
  font-family: "Raleway";
  src: local(Raleway-Regular),
    url(./fonts/Raleway-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local(Raleway-Italic), url(./fonts/Raleway-Italic.ttf) format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local(Raleway-Bold), url(./fonts/Raleway-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local(Raleway-Thin), url(./fonts/Raleway-Thin.ttf) format("truetype");
  font-weight: 100;
  font-display: swap;
}

:root {
  box-sizing: border-box;
  --yellow: hsl(48, 100%, 67%);
  --red: hsl(0, 100%, 67%);
  --green: hsl(102, 63%, 60%);
  --blue: hsl(202, 100%, 61%);
  --cyan: hsl(182, 73%, 63%);
  --black: hsl(0, 0%, 0%);
  --sand: hsl(34, 67%, 78%);
  --orange: hsl(36, 100%, 67%);
  --lime: hsl(135, 62%, 48%);
  --white: hsl(0, 0%, 96%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}
